sites/default/files/*
sites/default/settings.php
sites/all/libraries/dompdf/lib/fonts/*
vids
vids/*
error_log
*.sql
.htaccess
robots.txt
.idea/*
libraries/dompdf/*
cache/normal/default/
cache/perm/default/
cache/
